<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Twitter Analysis</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
-->
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="/public/javascripts/angular.js"></script>
    
</head>
<body>
  <!--<ul class="menu">-->
    <!--<li><a href="#!/view1">view1</a></li>-->
    <!--<li><a href="#!/view2">view2</a></li>-->
  <!--</ul>-->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div ng-view></div>-->

  <!--<div>Angular seed app: v<span app-version></span></div>-->
  <div class = "header">
    <h1>Twitter Analysis</h1>
  </div>
  <!--</div>-->
  <div class="contents">
    <!--The header of the pages-->


    <div id="subjects">
      <div id = "menuTitle"><b>Menu</b></div>
      <div class="btn from-top">Scenario one</div>
      <div class="btn from-top">Scenario two</div>
      <!--<div class="btn from-top">Third</div>-->
    </div>

    <div id = "search">
      <div id ="textField">
        <input id="input" type="text" name = "keyword" placeholder="Enter the key word">
      </div>
      <div name = "button1" id = "button"><div class="btn from-top"><b>Search</b></div></div>
    </div>

    <iframe ng-view class="Map" name = "map" src="views/map.html"></iframe>
<!--      <div ng-include = 'map.html'></div>-->
  </div>

  <!-- Add your site or application content here -->
  <!--<p>Hello world! This is HTML5 Boilerplate.</p>-->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--<script>-->
  <!--window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;-->
  <!--ga('create','UA-XXXXX-Y','auto');ga('send','pageview')-->
  <!--</script>-->
  <footer class = "footer">Copyright © University of Melbourne COMP90024<br>
    fanglin chen- fanglinc@student.unimelb.edu.au<br>
    Siyu Zhang - siyuz6@student.unimelb.edu.au<br>
    Xunwan Wang - x.wang153@student.unimelb.edu.au<br>
    yang hong-hong4@student.unimelb.edu.au<br>
    Yuan Wang - yuanw8@student.unimelb.edu.au</footer>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  
<!--  <script src="bower_components/angular-route/angular-route.js"></script>-->
  <script src="/public/javascripts/app.js"></script>
  
    
  <!--<script src="view1/view1.js"></script>-->
  <!--<script src="view2/view2.js"></script>-->
<!--  <script src="components/version/version.js"></script>-->
<!--  <script src="components/version/version-directive.js"></script>-->
<!--  <script src="components/version/interpolate-filter.js"></script>-->
</body>
</html>
